.profile-div:hover{
    background-color: deeppink;
}
.search-btn:hover{
    background-color: deeppink;
}
#profile:hover{
    color: white;
}
.welcome-card{
    background: url(https://img.freepik.com/free-photo/gradient-illuminated-neon-gaming-desk-setup-with-keyboard_23-2149529405.jpg?size=626&ext=jpg&uid=R92225937&ga=GA1.1.307101144.1675816291&semt=sph);
    padding: 70px 5px;
    border: none;
}
strong{
    color: deeppink;
}
.browse-now{
    background-color: deeppink;
}
.browse-now:hover{
    background-color: white;
    color: deeppink;
}
.container{
    background-color: rgba(37, 34, 34, 0.993);
}
.fa-download{
    color: deeppink;
}
.individual-popular{
    background-color: rgba(37, 34, 34, 0.993);
}
.nav-link:hover{
    color: deeppink;
}
.nav-link:active{color: deeppink !important;}
.col-lg-3{
    margin-bottom: 15px;
}
footer a{
    color: deeppink;
}
li .profile:hover{
    background-color: deeppink;
}
.discover-btn{
    background-color: deeppink;
}
.discover-btn:hover{
    background-color: white;;
    color: deeppink;
}
.view-library-btn{
    background-color: deeppink;
}
.view-library-btn:hover{
    background-color: white;
    color: deeppink;
}