@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&family=Press+Start+2P&family=Rubik+Mono+One&display=swap');

.navbar-brand{
    font-family: 'Press Start 2P', sans-serif;
    color: deeppink;
}
.profile-div:hover{
    background-color: deeppink;
}
.search-btn:hover{
    background-color: deeppink;
}
#profile:hover{
    color: white;
}
.welcome-card{
    background: url(https://img.freepik.com/free-photo/gradient-illuminated-neon-gaming-desk-setup-with-keyboard_23-2149529405.jpg?size=626&ext=jpg&uid=R92225937&ga=GA1.1.307101144.1675816291&semt=sph);
    padding: 70px 5px;
    border: none;
}
strong{
    color: deeppink;
}
#browse-now{
    background-color: deeppink;
}
#browse-now:hover{
    background-color: white;
    color: deeppink;
}
.container{
    background-color: rgba(37, 34, 34, 0.993);
}
.fa-download{
    color: deeppink;
}
.individual-popular{
    background-color: rgba(37, 34, 34, 0.993);
}
.nav-item > a:hover{
    color: deeppink;
}
.nav-item > a:active{
    color: deeppink;
}
.col-lg-3{
    margin-bottom: 15px;
}
footer a{
    color: deeppink;
}
li .profile:hover{
    background-color: deeppink;
}
.discover-btn{
    background-color: deeppink;
}
.discover-btn:hover{
    background-color: white;;
    color: deeppink;
}
.view-library-btn{
    background-color: deeppink;
}
.view-library-btn:hover{
    background-color: white;
    color: deeppink;
}


/* Browse */
.streaming-card {
  position: relative;
  display: inline-block;
}
.streaming-button {
  position: relative;
  bottom: 80px;
  right: 50%;
  left: 50%;
  
  display: none;
  color: deeppink;
}
.streaming-card:hover .streaming-button {
  display: inline-block;
  color: deeppink;
}
.top-download-card{
    border: none;
}
.download-circle{
    font-size: 1.5rem;
}
.download-stream{
    background-color: rgb(80, 76, 76);
}
.bi{
    color: deeppink;
}
.bi-check-lg{
    background-color: deeppink !important;
    color: white;
    font-size: 0.7rem;
    padding: 5px 6px;
    margin-right: auto;
}
.get-package-btn{
    background-color: deeppink;
}
.get-package-btn:hover{
    background-color: white;
    color: deeppink;
}
.view-all{
    color: deeppink;
}
.img-card{
    position: relative;
    border: none;
}

.overlay-btn {
    background-color: deeppink;
  position: absolute;
  top: 20%;
  left: 80%;
  transform: translate(-50%, -50%);
  display: none;
}
.overlay-btn2 {
    background-color: deeppink;
  position: absolute;
  top: 80%;
  left: 20%;
  transform: translate(-50%, -50%);
  display: none;
}
.overlay-btn3 {
    background-color: deeppink;
  position: absolute;
  top: 80%;
  right: 20%;
  left: 80%;
  transform: translate(-50%, -50%);
  display: none;
}
.img-card:hover .overlay-btn{
    display: block;
}
.discover-all-btn{
    background-color: deeppink;
}
.discover-all-btn:hover{
    background-color: white;
    color: deeppink;
}

/* Details */
.detail-img-card{
    background-color: rgba(37, 32, 32, 0.952);
    border: none;
}
.play-button{
    font-size: 2rem;
    position: absolute;
    top: 40%;
    left: 45%;
    display: block;
}
.play-card{
    position: relative;
}
.game-info{
    background-color: rgba(80, 76, 76, 0.5);
}
.game-info-card{
    justify-content: space-between;
}
.game-download-button{
    border-color: deeppink;
    color: deeppink;
}
.game-download-button:hover{
    background-color: white;
    color: deeppink;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
